* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {}

.profile-button-container {
    display: flex;
    justify-content: end;
}

.profile-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px 10px 0 0;
}

.profile-icon {
    height: 20px;
}

.announcement-container{

}

.announcement-heading{
    font-weight: bold;
    margin: 10px 5px;
}

.announcement-text{
    
}